<div class="footer">
    <div class="content1">
        <div class="col">
            <h4>Zapatillas</h4>
            <a href="#">Zapatillas de running...</a>
            <a href="#">Zapatillas de running...</a>
            <a href="#">Zapatillas Nike P-6000</a>
            <a href="#">Nike Initiator</a>
        </div>
        <div class="col">
            <h4>Ropa</h4>
            <a href="#">Pantalones de yoga</a>
            <a href="#">Joggers Tech Fleece</a>
            <a href="#">Tech Fleece</a>
        </div>
        <div class="col">
            <h4>Niño/a</h4>
            <a href="#">Zapatillas negras para...</a>
            <a href="#">Zapatillas negras para...</a>
        </div>
        <div class="col">
            <h4>Destacados</h4>
            <a href="#">Equipos de fútbol</a>
            <a href="#">Fútbol</a>
            <a href="#">Nike Inglaterra</a>
            <a href="#">Nike Run Club</a>
        </div>
    </div>
    <hr>
    <div class="content2">
        <div class="columns">
            <h4>Recursos</h4>
            <a href="#">Tarjetas de regalo</a>
            <a href="#">Tarjetas de regalo corporativas</a>
            <a href="#">Buscar una tienda</a>
            <a href="#">Nike Journal</a>
            <a href="#">Hazte Member</a>
            <a href="#">Descuento para estudiantes</a>
            <a href="#">Comentarios</a>
            <a href="#">Códigos promocionales</a>
        </div>
        <div class="columns">
            <h4>Ayuda</h4>
            <a href="#">Obtener ayuda</a>
            <a href="#">Estado del pedido</a>
            <a href="#">Envios y entregas</a>
            <a href="#">Devoluciones</a>
            <a href="#">Opciones de pago</a>
            <a href="#">Contacto</a>
            <a href="#">Evaluaciones</a>
            <a href="#">Ayuda con los códigos promocionales de Nike</a>
        </div>
        <div class="columns">
            <h4>Empresa</h4>
            <a href="#">Acerca de nike</a>
            <a href="#">Novedades</a>
            <a href="#">Empleo</a>
            <a href="#">Inversores</a>
            <a href="#">Sostenibilidad</a>
            <a href="#">Propósito</a>
            <a href="#">Informar de un problema</a>
        </div>
        <div class="columns" id="country">
            <h4>🔘 España</h4>
        </div>
    </div>
    <div class="content3">
        <a>© 2025 Nike, Inc. Todos los derechos reservados</a>
        <div class="dropdown">
            <button class="distribuir">Guías ▼</button>
            <div class="dropdown-content">
                <a href="#">Nike Air</a>
                <a href="#">Nike Air Max</a>
                <a href="#">Nike FlyEase</a>
                <a href="#">Nike Pegasus</a>
                <a href="#">Nike React</a>
                <a href="#">Nike Vaporfly</a>
            </div>
        </div>
        <a href="#">Términos de uso</a>
        <a href="#">Términos de venta</a>
        <a href="#">Aviso legal</a>
        <a href="#">Política de privacidad y cookies</a>
        <a href="#">Configuración de privacidad y cookies</a>
    </div>
</div>