<div class="footer">
    <div class="content1"></div>
    <div class="content2">
        <div class="resources">
            <h4>España</h4>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
        </div>
        <div class="help">
            <h4>España</h4>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
        </div>
        <div class="company">
            <h4>España</h4>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
            <a>España</a>
        </div>
        <div class="country">
            <a>España</a>
        </div>
    </div>
    <div class="content3">
        <a>2025 Nike, Inc. Todos los derechos reservados</a>
        <a>Guías</a>
        <a>Términos de uso</a>
        <a>Términos de venta</a>
        <a>Aviso legal</a>
        <a>Política de privacidad y cookies</a>
        <a>Configuración de privacidad y cookies</a>
    </div>
</div>