<div class="navbar">
    <div class="content1">
        <img src="nike.png" alt="nike" routerLink="/">
    </div>
    <div class="content2">
        <a routerLink="">HOME</a>
        <a routerLink="products">PRODUCTOS</a>

        @if (userRole === 'admin') {
        <a routerLink="admin">ADMIN</a>
        }

        <a routerLink="account">CUENTA</a>
        <a routerLink="productview">PEDIDOS</a>
    </div>
    <div class="content3">
        <div class="search-container">
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" class="search-input" placeholder="Buscar...">
        </div>
        <img class="icons" src="heart.png" alt="heart">
        <img class="icons" src="shopping_bag.png" alt="shopping_bag">
    </div>
</div>